#carrusell {
    height: 100%;
}

#carouselExampleSlidesOnly{
    height: 600px;
    width: 100%;
}

#txt-idea {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    

}

#transparencia {
    background-color: whitesmoke;
    opacity: 0.7;
    float: left;
}

#invisible {
    visibility: hidden;
}

element.style {
    visibility: visible;
    animation-name: fadeInUp;
}

#team {
    background: #fff;
    padding: 30px 0 0 0;
  }

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.section {
    overflow: hidden;
    padding: 40px 0;
}

.aqua {
    color: #009BA4;
}

